<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		classpath:/org/springframework/beans/factory/xml/spring-beans-2.5.xsd
		http://www.springframework.org/schema/jee
        http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">

	<bean id="salesTaxService" class="com.nst.salestax.core.SalesTaxService"
		factory-method="getInstance">

		<property name="summarizer" ref="basketSummarizer" />
		<property name="receiptPrinter" ref="CommandLinePrinter" />
	</bean>

	<bean id="taxCalculator" class="com.nst.salestax.logic.impl.TaxCalculatorImpl">
		<constructor-arg value = "0.05"/>
		<constructor-arg value = "2"/>
	</bean>

	<bean id="CommandLinePrinter" class="com.nst.salestax.logic.impl.CommandLineReceiptPrinter">
	</bean>

	<bean id="basketSummarizer"
		class="com.nst.salestax.logic.impl.ShoppingBasketSummarizerImpl">
		<property name="taxCalculator" ref="taxCalculator" />
	</bean>

</beans>